<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dyzs.app" >
    <!-- 友盟统计相关 -->
    <meta-data
        android:name="UMENG_APPKEY"
        android:value="5a97e689f43e4829e20002b6" />
    <meta-data
        android:name="UMENG_CHANNEL"
        android:value="${UMENG_CHANNEL_VALUE}" />
    <meta-data
        android:name="IN_VERSION"
        android:value="${IN_VERSION}_${VERSION_NAME}" />

    <!--aliyun sophix config-->
    <meta-data
        android:name="com.taobao.android.hotfix.IDSECRET"
        android:value="App ID" />
    <meta-data
        android:name="com.taobao.android.hotfix.APPSECRET"
        android:value="App Secret" />
    <meta-data
        android:name="com.taobao.android.hotfix.RSASECRET"
        android:value="RSA密钥" />

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--umeng 相关权限-->
    <!-- 必须的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 添加如下权限，以便使用更多的第三方SDK和更精准的统计数据 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 外部存储读权限，调试工具加载本地补丁需要 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:name=".UtilsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.CustomViewActivity" >
            <intent-filter>
                <action android:name="com.dyzs.common.action.TEST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.RetrofitSampleActivity" >
            <intent-filter>
                <!--<action android:name="com.dyzs.common.action.TEST" />-->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".service.CBMonitorService"/>

        <receiver android:name=".widget.ClockWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@layout/layout_app_widget_provider" />
        </receiver>

        <service android:name=".service.ScreenUnLockMonitorService" />

        <activity android:name=".activity.CustomViewDisplayActivity" />
    </application>

</manifest>